@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
